.cart_header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    align-items: center;
}

.mapped-cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    align-items: center;
}

.mapped-img{
    margin: 0 auto;
    height: 30vh;
}

.input-box{
    width: 50px;
    border: solid;
    color: #fc7eb9;
}

.remove-item{
    padding-left: 5px;
    background-color: #bbc0e2;
}