.cart_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 200px;
}

.span-list2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.price-span{
    width: 25%;
    text-align: center;
}

.item-span{
    width: 30%;
}

.qty-span{
    width: 25%;
    text-align: center;
}

.total-span{
    width: 15%;
    text-align: center;
}

.cart-header{
    display: flex;
    justify-content: left;
    padding-left: 10px;
    color: #f2aece;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .14em;
    padding-bottom: 30px;
}

.mapped-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    color: #5d6879;
}

.mapped-cart:first-child{
    margin-top: 140px;
}

.item-group{
    width: 10px;
    padding-left: 5px;
}

.div-image{
    width: 40px;
}

.price{
    width: 38%;
    font-size: 25px;
    text-align: right;
    /* align-items: center; */

}

.sub-total{
    padding-right: 15px;
    text-align: left;
}

.qty{
    width: 32%;
    text-align: center;
}

.mapped-img{
    height: 18vh;
}

.input-box{
    width: 40px;
    border: solid;
    color: #f2aece;
}

.remove-item{
    text-align: left;
    font-size: 15px;
    color: #5d6879;
}

.total-price{
    color: #5d6879;
    text-align: center;
    padding-top: 20px;
}

.stripe-checkout{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    background-color: #fc7eb9;
    border-color: #fc7eb9;
    font-size: 13px;
    letter-spacing: .5em;
    padding: 8px 20px;
    /* align-content: center; */
    text-align: center;
}