.about_body{
    display: flex;
    justify-content: space-around;
    height: 130vh;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #5d6879;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: .12em;
    padding: 15px;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding-top: 15px;
}

.style-two{
    border: 0;
    height: 1px;
    width: 350px;
    margin-bottom: 30px;
    margin-top: 30px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(206, 156, 19, 0.75), rgba(0, 0, 0, 0));
}

.style-three{
    border: 0;
    height: 1px;
    width: 350px;
    margin-bottom: 30px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(206, 156, 19, 0.75), rgba(0, 0, 0, 0));
}

.about_p{
    
}

.bold-quote{
    color: #f2aece;
    padding: 20px;
    font-size: 30px;
    line-height: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

.greenery-pic{
    margin-top: 150px;
}

.first_body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background: rgba(54, 53, 53, 0.274);
}

.second_body{
    display: flex;
    justify-content: center;
    margin-top: 400px;
    background: rgba(54, 53, 53, 0.274);
}

.second_body_about{
    display: flex;
    justify-content: space-around;
    height: 160vh;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #5d6879;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: .12em;
    padding: 5px;
}

.bold-text{
    color: #bbc0e2;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    line-height: 1em;
    font-weight: bold;
    padding: 30px;
}