.container{
    max-width: 100%;
    width: 100vw;
    background: #fff;
    font-size: 24px;
    flex-direction: column;
    align-items: center; 
}

.first-parallax-img{
    position: relative;
    height: 120vh;
    margin: 0 auto;
}

.third-parallax-body{
    margin-top: 70px;
    height: 120vw;
    min-width: 100vw;
    position: relative;
    margin: 0 auto;
}

.home_first_body {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 700px;
    width: 100%;
}

.home_first_body>h1{
    color: #5d6879;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    letter-spacing: .25em;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.home_first_body>hr{
    margin-bottom: 20px;
}

hr.style-one {
    border: 0;
    height: 1px;
    width: 350px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(206, 156, 19, 0.75), rgba(0, 0, 0, 0));
}

.floral_break_img{
    width: 100%;
    height: 300px;
}

.hero-text {
    height: 100%;
    width:100%;
    padding: 30px;
    margin-top: 210px;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #3d4450;
    font-weight: 200px;
}

.hero-text{
    padding-top: 30px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 200;
    font-style: oblique;
}

.sub-hero-title {
    position: relative;
    top: 20px;
    z-index: 10;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-size: 35px;
    text-transform: uppercase;
    color:  #bbc0e2;
    text-shadow: 2px 2px #3d4450;
    padding-bottom: 20px;
}

.hero-btns {
    height: 300px;
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.shop_prints_button {
    z-index: 10;
    background-color: #fc7eb9;
    border-color: #fc7eb9;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .5em;
    font-style: normal;
    padding: 15px 32px;
    color:#3d4450;
}

.shop_custom_button {
    z-index: 10;
    background-color: #fc7eb9;
    border-color: #fc7eb9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    padding: 15px 32px;
    letter-spacing: .5em;
    font-style: normal;
    color: #3d4450;
}

.portfolio_button {
    z-index: 10;
    background-color: #fc7eb9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    border-color: #fc7eb9;
    font-size: 13px;
    letter-spacing: .5em;
    padding: 15px 32px;
    color: #3d4450;
}

.hero-text2 {
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.hero-text2>h1{
    margin-top: 400px;
    font-size: 20px;
    color: white;
}

.crest_image{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 400px;
}

.wedding_button{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    background-color: #fc7eb9;
    border-color: #fc7eb9;
    font-size: 13px;
    letter-spacing: .5em;
    padding: 15px 32px;
    color: #3d4450;
}

.home-second-body{
    font-size: 20px;
    letter-spacing: .25em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    color: #74829b;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_div{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(255,246,240,.93);
    color: #f2aece;
    width: 100vw;
}

.p{
    font-size: 20px;
    font-style: oblique;
    padding-left: 17px;
    margin-top: 15px;
    margin-bottom: 20px;
    justify-content: center;
}

.footer_h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: bold;
    font-size:25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer_h5{
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.footer_links{
    margin-top: 15px;
    margin-bottom: 15px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.insta_footer{
    height: 100%;
    background: rgba(255,246,240,.93);
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

@media (min-width: 750px) {
    .first_body {
        height: 100vh;
    }

    .floral_break_img{
        width: 400px;
    }

    .crest_image{
        width: 500px;
    }
  }

