.header {
    display: flex;
    background: pink;
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-evenly;
  }

  a {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  .nav {
    list-style-type: none;
    outline-color: none;
    font-style: normal;
  }

  .menu {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid white;
    margin-left: 10px;
    display: flex;
    align-items: center;
 }
 
 .buns-container {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 4px;
 }
 
 .buns-container>div {
    width: 100%;
    height: 6px;
    border-radius: 2px;
    background: white;
 }

 .dropDownMenu{
    height: 10vh;
    background-color: rgba(243, 129, 167, 0.514);
    width: 100%;
    overflow: hidden;
    transition: 1000ms ease-in, 500ms;
    position: fixed;
    margin-top: 58px;
 }
 
 .dropDownMenuShow{
    height: 90vh;
    width: 230px;
    color: white;
    margin-top: 58px;
 }