@import url('https://fonts.googleapis.com/css?family=Overlock');
.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  margin-top: 15px;
  width: 200px;
  height: 30px;
  border: none;
  border-bottom: solid 1px;
  font-size: 15px;
  padding-left: 5px;
}
.login_button {
  margin-top: 15px;
  width: 100px;
  height: 30px;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button:focus {
  outline: none;
}